// @import 'sonner/dist/sonner.css';
@import '~highlight.js/styles/github-dark.css';

// SCSS変数宣言
$body-padding: max(1em, 2vmax);
$height_header: 4.5em;
$border-radius: 15px;
$bg_body: #000;
$padding: $body-padding;
$shadow: 0 0 .5em rgba(0, 0, 0, 1);
$modal-button_height: 2em;
$accent-color: #C02020;

@media (prefers-color-scheme: dark) {
  $bg_body: #000;
}

/* リセットCSS */
*,
*::before,
*::after {
  font: unset;
  color: unset;
  background: unset;
  padding: unset;
  margin: unset;
  border: unset;
  outline: unset;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100svh;
  min-height: 100svh;
  max-height: 100svh;
  overflow: hidden;
  font-size: 14px;
  overscroll-behavior-inline: contain;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  background: $bg_body;
}

button {
  background: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// アクセシビリティリセット
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:where(button, [type='button'], [type='reset'], [type='submit']) {
  touch-action: manipulation;
}

:where(:any-link, button, [type='button'], [type='reset'], [type='submit'], label[for], select, summary, [role='tab'], [role='button'], [type='checkbox']) {
  cursor: pointer;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }

    &:focus-visible {
      @content;
    }
  }
}

.shortcut {
  margin-left: .5em;
  opacity: .5;
  display: inline-flex;
  align-items: center;

  svg {
    width: 1.1em;
    aspect-ratio: 1/1;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  height: $height_header;
  padding: 0 $body-padding;
  position: fixed;
  top: env(safe-area-inset-top);
  left: 0;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: calc($height_header * 2);
    background: linear-gradient(to bottom, $bg_body, transparent);
    pointer-events: none;
    z-index: -1;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1em;

    .logo-img {
      box-shadow: $shadow;
    }

    h1 {
      font-size: 1.5em;
      line-height: .75em;
      font-family: "Glegoo", serif;
      font-weight: 700;
      text-shadow: $shadow;

      small {
        font-size: .5em;
        line-height: .5em;
        color: mix(#fff, #000, 45%);
      }
    }
  }

  .free-version {
    font-size: 1.3em;
    color: $accent-color;
    border: 2px solid $accent-color;
    background: rgba(#000, .5);
    padding: 2px 5px;
    border-radius: 4px;
    position: fixed;
    top: calc($height_header / 2 - 1.5em);
    left: calc($body-padding + 13rem);

    @media (max-width: 600px) {
      font-size: .8em;
      top: calc($height_header + 1.5em);
      left: auto;
      right: $body-padding;
      z-index: 10;
    }
  }

  .header-side {
    height: 100%;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;

    .login {
      background-color: $accent-color;
      color: #ffffff;
      font-weight: bold;
      padding: 0.5em 1em;
      border-radius: 5px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($accent-color, 10%);
      }

      &:active {
        background-color: darken($accent-color, 20%);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      }
    }

    .setting {
      height: 100%;
      aspect-ratio: 1/1;
      display: grid;
      place-items: center;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
      }
    }
  }
}

.loginButton {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
}


$image-preview-size: 100px;
$image-preview-gap: 10px;

.input-section {
  width: 100%;
  $chat-input-max-width: 50em;
  max-width: $chat-input-max-width;
  // padding: 0 $padding;
  // padding-bottom: calc(env(safe-area-inset-bottom) + $body-padding);
  display: flex;
  flex-direction: column;
  gap: .5em;
  overflow: visible;
  font-size: 0.8rem;
  margin: 0 auto;

  &:first-of-type {
    transition: .5s transform;
  }

  &.initial-screen {
    transform: translateY(calc(50vh - $height_header * 1.5 - 50%));
  }

  .input-container {
    display: flex;
    align-items: flex-end;
    align-items: center;
    gap: 1em;
    padding: 0 $padding;

    .open-modal-button {
      height: $modal-button_height;
      padding: 0 1em;
      color: mix(#fff, #000, 70%);
      background: mix(#fff, #000, 10%);
      display: flex;
      align-items: center;
      gap: .5em;
      border-radius: $border-radius;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      box-shadow: $shadow;

      &::after {
        content: '△';
      }
    }

    .file-upload-button {
      cursor: pointer;
      font-size: 1.5em;
      margin-left: 10px;
    }

    &.model-select-area {
      color: mix(#fff, #000, 70%);
      // display: flex;
      gap: .5em;
      // width: 100vw;
      // margin: 0 calc(50% - 50vw);
      // padding: 0 calc(50vw - 50%);
      width: 100%;
      max-width: 100%;
      overflow-x: auto;

      overflow-x: auto;
      scrollbar-width: none;
      scrollbar-color: transparent transparent;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      &:hover {
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.2) transparent;

        &::-webkit-scrollbar {
          height: 6px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 3px;
        }
      }

      .model-radio {
        min-width: fit-content;

        label {
          min-width: fit-content;
          display: flex;
          align-items: center;
          padding: .6em;
          background: mix(#fff, #000, 10%);
          border-radius: $border-radius;
          box-shadow: $shadow;
          cursor: pointer;

          &::before {
            content: "";
            display: block;
            min-height: 1.5em;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: mix(#fff, #000, 20%);
            margin-right: 0.5em;
          }
        }

        input:checked+label {
          &::before {
            content: "✔︎";
            margin-right: 0.5em;
            display: grid;
            place-items: center;
          }
        }

        input {
          display: none;
        }
      }
    }

    &.chat-input-area {
      $maxHeight: calc(100svh - $height_header - $modal-button_height - $body-padding * 3 - env(safe-area-inset-top));
      max-height: $maxHeight;
      max-width: 100%;
      background: mix(#fff, #000, 10%);
      border-radius: $border-radius;
      box-shadow: $shadow;
      font-size: 1rem;
      padding: 1em;
      margin: 0 $padding;
      position: relative;

      .chat-input {
        width: 100%;
        // margin: auto;
        // padding: 1em 0;
        max-height: calc($maxHeight - 2em);
        // min-height: 6em;
        line-height: 1.5;
        resize: none;

        &::placeholder {
          color: mix(#fff, #000, 30%);
        }
      }

      .send-button {
        height: 10vmin;
        max-height: 40px;
        aspect-ratio: 1/1;
        margin: .5em;
        background: mix(#fff, $accent-color, 10%);
        border-radius: calc($border-radius - .25em);
      }

      .image-previews {
        position: absolute;
        bottom: 80%;
        right: 2%;
        display: flex;
        flex-wrap: wrap;
        gap: $image-preview-gap;
        margin-bottom: $image-preview-gap;
      }

      .image-preview {
        position: relative;
        width: $image-preview-size;
        height: $image-preview-size;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }

        button {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
          padding: 0;

          &:hover {
            background-color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }

  .action-button,
  .shortcut-area,
  .model-radio label {
    height: 2rem;
  }

  .input-actions {
    display: flex;
    gap: 0.5em;

    $button-icon-size: 1.2em;
    $button-padding-vertical: 0.5em;
    $button-padding-horizontal: 0.9em;

    code {
      font-family: monospace;
      padding: 0 .1em;
      font-size: 0.9em;
      opacity: .8;

      &:before,
      &:after {
        content: '"';
        opacity: .5;
      }
    }

    .action-button,
    .shortcut-area {
      color: mix(#fff, #000, 70%);
      padding: $button-padding-vertical $button-padding-horizontal;
      display: flex;
      align-items: center;
      white-space: nowrap;
      position: relative;
    }

    .shortcut-area {
      opacity: .5;

      &.line-break {
        display: none;
      }

      .shortcut {
        opacity: 1;
      }
    }

    .action-button {
      background-color: mix(#fff, #000, 10%);
      border-radius: $border-radius;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: mix(#fff, #000, 15%);
        color: #fff;
      }

      >svg {
        width: $button-icon-size;
        height: $button-icon-size;
      }

      &.icon-button {
        padding-left: calc($button-icon-size + $button-padding-horizontal * 2 * 0.9);

        >svg {
          position: absolute;
          left: $button-padding-horizontal;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.send-button,
      &.new-thread-button {
        display: block;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;

        &.active {
          background-color: rgba(0, 255, 0, 0.2);
          border: 1px solid rgba(0, 255, 0, 0.4);
          color: #00ff00;

          &:hover {
            background-color: rgba(0, 255, 0, 0.3);
            border-color: rgba(0, 255, 0, 0.6);
            color: #ffffff;
          }
        }
      }

      &.new-thread-button {
        display: none;
      }

      &.save-only-button {
        border: 1px solid rgba(255, 255, 255, 0.245);
        display: none;

        &:hover {
          border-color: rgba(255, 255, 255, 0.6);
        }
      }
    }

  }

  .model-select-area,
  .input-actions {
    display: none;
  }

  &:not(.fixed) {
    .chat-input-area {
      margin-top: $image-preview-size;
    }
  }

  &.fixed {
    position: fixed;
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
    left: 50%;
    transform: translateX(-50%);
    padding: $padding 0;

    pointer-events: none;

    >*>* {
      pointer-events: auto;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($bg_body, .85);
      backdrop-filter: blur(20px);
      mask: radial-gradient(circle at bottom, $bg_body 70%, transparent);
      z-index: -1;
    }
  }

  &.full-input {

    .input-actions,
    .model-select-area {
      display: flex;

      .new-thread-button {
        display: block;
      }

      .line-break {
        display: flex;
      }
    }
  }

  &.edited {
    .action-button.save-only-button {
      display: flex;
    }

    .input-actions {
      display: flex;

      .reset-regenerate-button {
        background-color: rgba(0, 255, 0, 0.2);
        border: 1px solid rgba(0, 255, 0, 0.4);
        color: #00ff00;

        &:hover {
          background-color: rgba(0, 255, 0, 0.3);
          border-color: rgba(0, 255, 0, 0.6);
          color: #ffffff;
        }
      }
    }
  }

  &.focused {

    .input-actions,
    .model-select-area {
      display: flex;

      .line-break {
        display: flex;
      }
    }

  }

  .suggestions-list {
    position: absolute;
    bottom: 10em;
    left: 1.5em;
    background: mix(#fff, #000, 10%);
    border-radius: $border-radius;
    box-shadow: $shadow;
    max-height: 10em;
    overflow-y: auto;
    z-index: 2;
    list-style: none;
    padding: 0.5em;
    margin: 0;
    width: calc(100% - 3em);

    li {
      padding: 0.5em;
      cursor: pointer;

      &.active {
        background-color: mix(#fff, #000, 20%);
      }

      input {
        display: none;
      }

      label {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.reset-button {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom) + 2em);
  right: calc(env(safe-area-inset-right) + 2em);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1.5em;
  background: transparent;
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: $border-radius;
  box-shadow: $shadow;
  transition: backdrop-filter 0.3s, color 0.3s;
  overflow: visible;
  gap: 1em;

  &:hover {
    backdrop-filter: blur(15px);
    color: #fff;
  }

  &:active {
    backdrop-filter: blur(20px);
  }

  &.generating {
    background-color: rgba(255, 65, 54, 0.2);
    color: #ff4136;
  }

  &.newThread {
    background-color: rgb(34 135 45 / 20%);
    color: #2ecc40;
  }

  svg {
    width: 1.4em;
    height: 1.4em;
  }

  span {
    white-space: nowrap;
  }
}

.responses-container {
  width: 100vw;
  min-height: 100svh;
  height: 100svh;
  max-height: 100svh;
  padding-top: calc($height_header * 2 + env(safe-area-inset-top));
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior-block: none;
  scroll-behavior: smooth;

  .message-block {
    width: 100%;
    transition: .3s transform;
    transform: translateY(0);

    &:last-of-type {
      display: flex;
      flex-direction: column;
      // min-height: calc(100svh - $height_header*1.5);

      .scroll_area {
        min-height: calc(100svh - $height_header*1.5 - calc($height_header * 2 + env(safe-area-inset-top)));
        padding-bottom: calc($height_header * 4 + env(safe-area-inset-bottom));
        overflow-y: hidden;
      }
    }

    .user {
      padding: 0 $body-padding;

      p {
        white-space: pre-wrap;
        position: relative;
      }

      .reset-regenerate-button-area {
        $button-icon-size: 1.2em;
        $button-padding-vertical: 0.5em;
        $button-padding-horizontal: 0.9em;
        $button-font-size: 0.8em;
        display: flex;

        button {
          font-size: $button-font-size;
          padding: $button-padding-vertical $button-padding-horizontal;
          background-color: mix(#fff, #000, 10%);
          color: mix(#fff, #000, 70%);
          border-radius: $border-radius;
          margin-top: $button-padding-vertical;
          transition: background-color 0.3s, color 0.3s;
          display: none;
          position: relative;

          &:hover {
            background-color: mix(#fff, #000, 15%);
            color: #fff;
          }

          &.reset-regenerate-button {
            margin-right: $button-padding-horizontal;
            border: 1px solid rgba(255, 255, 255, 0.2);

            &:hover {
              background-color: mix(#fff, #000, 20%);
              border-color: rgba(255, 255, 255, 0.4);
            }
          }

          svg {
            width: $button-icon-size;
            height: $button-icon-size;
            position: absolute;
            left: $button-padding-horizontal;
            top: 50%;
            transform: translateY(-50%);
          }

          &.icon-button {
            padding-left: calc($button-icon-size + $button-padding-horizontal * 2 * 0.9);
          }

          .shortcut {
            display: none;
            margin-left: .5em;
            opacity: .5;
          }
        }
      }

      &.editing {
        p {
          outline: none;
          background-color: rgba(255, 255, 255, .2);
          border-radius: 4px;
          padding: 8px;
        }

        button {
          .shortcut {
            display: inline-block;
          }

          &.reset-regenerate-button {
            display: block;
          }
        }
      }

      &.edited {
        .reset-regenerate-button-area {
          display: flex;
        }

        .saveOnly-button {
          display: block;
        }
      }
    }
  }

  .scroll_area {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    transition: max-height 0.3s ease;
    gap: calc($body-padding * .7);
    padding: 1em 2em 2em $body-padding;
    cursor: pointer;

    .response {
      width: calc(100vw - $body-padding);
      min-width: 22em;
      background: rgba(250, 250, 250, .1);
      padding: 1em;
      border-radius: calc($border-radius / 5);
      display: flex;
      flex-direction: column;
      gap: .5em;
      cursor: auto;

      &.reply {
        background-color: rgba(100, 100, 250, 0.1);
      }

      &.mention {
        background-color: rgba(250, 250, 100, 0.1);
      }

      &.unselected {
        background-color: rgba(250, 250, 250, .05);

        .markdown-content {
          opacity: .3;

          pre {
            code {
              overflow-x: hidden;
            }
          }
        }
      }

      p {
        white-space: normal;
        word-wrap: break-word;
      }

      .meta {
        font-size: .8em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .response-controls {
          display: flex;
          align-items: center;
          gap: 0.5em;

          button,
          .response-select {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease;
            cursor: pointer;

            &.regenerate-button {
              animation: bounce 0.5s ease-in-out;

              @keyframes bounce {

                0%,
                100% {
                  transform: translateY(0);
                }

                50% {
                  transform: translateY(-5px);
                }
              }
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }

            &:active {
              transform: translateY(0);
              box-shadow: none;
            }

            svg {
              width: 1.2em;
              height: 1.2em;
            }
          }

          .response-select.selected {
            background-color: $accent-color;
            color: white;
            border-color: $accent-color;
          }
        }
      }
    }
  }

  .expand-control {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    transform: translateY(-50%);

    button {
      display: inline-flex;
      align-items: center;
      padding: 0.5em 1em;
      background-color: mix($bg_body, #fff, 90%);
      color: rgba(255, 255, 255, 0.7);
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 0.9em;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

      &::before {
        content: '';
        display: inline-block;
        width: 0.8em;
        height: 0.8em;
        margin-right: 0.5em;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgba(255,255,255,0.7)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
      }

      &.folded::before {
        transform: rotate(180deg);
      }

      &:hover {
        background-color: mix($bg_body, #fff, 80%);
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: mix(#fff, #000, 15%);
  padding: 2em;
  border-radius: $border-radius;
  max-width: 90%;
  max-height: 75svh;
  overflow-y: auto;
  width: 30rem;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

  h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .3em;
    font-family: "Glegoo", serif;
    font-weight: 700;
    color: #fff;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $accent-color;
    }
  }

  .tool-input-area,
  .function-call-list {

    textarea {
      min-width: 100%;
      min-height: 20em;
      white-space: nowrap;
    }
  }

  .model-list,
  .function-call-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .05em;
    overflow-y: auto;

    &:empty {
      display: none;
    }

    &.model-list {

      .insert-line {
        height: 2px;
        background-color: $accent-color;
      }

      li {
        position: relative;
        cursor: grab;
        transition: opacity 0.3s;

        &:active {
          cursor: grabbing;
        }

        &.dragging {
          opacity: 0.5;
        }

        &::before {
          content: '≡';
          font-size: 1.2em;
          opacity: .5;
          margin-right: 0.5em;
          cursor: grab;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.5em;
          height: 1.5em;
        }

        .model-edit-buttons {
          display: flex;
          gap: 1em;
        }
      }
    }
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.7em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    transition: background 0.3s;
    position: relative;

    svg {
      width: 1em;
      height: 1em;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    .model-name {
      flex-grow: 1;
    }

    .delete-button {
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $accent-color;
      }
    }

    .function-title {
      font-weight: bold;
      margin-right: 1em;
    }

    .function-buttons {
      display: flex;
      gap: 0.5em;
    }

    .function-edit {
      padding: 0.7em;

      .function-input {
        width: 100%;
        padding: 0.5em;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-bottom: 0.5em;

        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }

        &:focus {
          outline: none;
          background: rgba(255, 255, 255, 0.2);
        }
      }

      textarea.function-input {
        min-height: 100px;
        resize: vertical;
      }

      .function-edit-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 0.5em;
      }
    }
  }

  .drag-over-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $accent-color;
    z-index: 1;
  }
}

.function-call-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
  overflow-y: auto;

  li {
    margin-bottom: 0.5em;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    overflow: hidden;

    .tool-edit {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;

      >* {
        display: block;
      }

      .tool-edit-buttons {
        display: flex;
        justify-content: flex-end;
        gap: .5em;
      }
    }

    .function-edit {
      padding: 0.7em;

      .function-input {
        width: 100%;
        padding: 0.5em;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-bottom: 0.5em;

        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }

        &:focus {
          outline: none;
          background: rgba(255, 255, 255, 0.2);
        }
      }

      textarea.function-input {
        min-height: 100px;
        resize: vertical;
      }

      .function-edit-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 0.5em;
      }
    }
  }
}


.function-input-area {
  background: rgba(255, 255, 255, 0.05);
  border-radius: $border-radius;
  padding: 1em;
  margin-top: 1em;

  .function-input {
    width: 100%;
    padding: 0.7em;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    color: #fff;
    transition: background 0.3s;
    margin-bottom: 0.5em;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &:focus {
      background: rgba(255, 255, 255, 0.2);
      outline: none;
    }
  }

  textarea.function-input {
    min-height: 100px;
    resize: vertical;
  }

}

.input-area {
  display: flex;
  gap: 0.5em;
  position: relative;

  .suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 0 $border-radius $border-radius;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    li {
      padding: 0.7em 1em;
      cursor: pointer;
      transition: background-color 0.2s, color 0.2s;

      &:hover,
      &.active {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}


.model-input,
.tool-input {
  flex-grow: 1;
  padding: 0.7em;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  color: #fff;
  transition: background 0.3s;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

  &:focus {
    background: rgba(255, 255, 255, 0.2);
    outline: none;
  }
}

.model-buttons {
  display: flex;
}

button {
  // padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  svg {
    width: 1.2em;
    height: 1.2em;
  }

  &.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    background: none;
    color: #fff;

    &:hover {
      color: $accent-color;
    }
  }

  &.save-button {
    background-color: $accent-color;
    color: #fff;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }

  &.cancel-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent-color;
    color: #fff;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}

.markdown-editor {
  min-height: 5em;
}

// Markdown Styles
.markdown-content {
  $line-height-base: 1.6;
  $color-base: #fff;
  $color-secondary: #666;
  $color-link: #0070f3;
  $color-bg: #686868;
  $color-bg-light: #8f8f8f;
  $color-border: #696969;
  $color-code-bg: #060606;
  $border-radius: 5px;

  $heading-base-size: 1rem;
  $heading-scale: 1.2;
  $heading-margin-top: 1.5rem;
  $heading-margin-bottom: 0.75rem;

  line-height: $line-height-base;

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $heading-base-size * pow($heading-scale, 6 - $i);
      margin-top: $heading-margin-top;
      margin-bottom: $heading-margin-bottom;
      font-weight: bold;
      line-height: 1.2;
    }
  }

  h1 {
    margin-top: $heading-margin-top * 1.5;
  }

  h2 {
    margin-top: $heading-margin-top * 1.25;
  }

  p {
    margin: 0.25rem 0;
  }

  ul,
  ol {
    margin: 0.5rem 0;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.25rem;
    }
  }

  blockquote {
    margin: 0.5rem 0;
    padding: 0.25rem 0.5rem;
    border-left: 4px solid #808080;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.8);
  }

  code {
    background-color: $color-code-bg;
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  pre {
    background-color: $color-code-bg;
    padding: .1em .3rem;
    border-radius: $border-radius;
    overflow-x: auto;
    font-family: "JetBrains Mono", monospace;
    font-size: .8em;
    line-height: 1.2;
    font-optical-sizing: auto;
    white-space: pre;
    word-wrap: break-word;

    code {
      text-wrap: nowrap;
    }
  }

  a {
    color: $color-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;

    th,
    td {
      padding: 0.5rem;
      border: 1px solid $color-border;
    }

    th {
      background-color: $color-bg;
      font-weight: bold;
    }

    td {
      background-color: $color-bg-light;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid $color-border;
    margin: 1rem 0;
  }
}

body {
  .responses-container {
    will-change: transform;
    transition: transform .3s;
  }
}

textarea[data-fieldsizing="content"] {
  field-sizing: content;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overscroll-behavior-block: none;
}

.login-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background: $accent-color;
  border-radius: .5em;
}