@import '~highlight.js/styles/github-dark.css';

// SCSS変数宣言
$body-padding: max(1em, 2vmax);
$height_header: 4.5em;
$border-radius: 15px;
$bg_body: #000;
$padding: $body-padding;
$shadow: 0 0 .5em rgba(0, 0, 0, 1);
$modal-button_height: 2em;

@media (prefers-color-scheme: dark) {
  $bg_body: #000;
}

/* リセットCSS */
*,
*::before,
*::after {
  font: unset;
  color: unset;
  background: unset;
  padding: unset;
  margin: unset;
  border: unset;
  outline: unset;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100svh;
  min-height: 100svh;
  max-height: 100svh;
  overflow: hidden;
  font-size: 14px;
  font-family: sans-serif;
  color: #fff;
  background: $bg_body;
}

button {
  background: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// アクセシビリティリセット
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:where(button, [type='button'], [type='reset'], [type='submit']) {
  touch-action: manipulation;
}

:where(:any-link, button, [type='button'], [type='reset'], [type='submit'], label[for], select, summary, [role='tab'], [role='button']) {
  cursor: pointer;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }

    &:focus-visible {
      @content;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  height: $height_header;
  padding: 0 $body-padding;
  position: fixed;
  top: env(safe-area-inset-top);
  left: 0;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: calc($height_header * 2);
    background: linear-gradient(to bottom, $bg_body, transparent);
    pointer-events: none;
    z-index: -1;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1em;

    .logo-img {
      box-shadow: $shadow;
    }

    h1 {
      font-size: 1.5em;
      line-height: .75em;
      font-family: "Glegoo", serif;
      font-weight: 700;
      text-shadow: $shadow;

      small {
        font-size: .5em;
        line-height: .5em;
        color: mix(#fff, #000, 45%);
      }
    }
  }

  .free-version {
    font-size: 1.3em;
    color: #ff0000;
    border: 2px solid #ff0000;
    background: rgba(#000, .5);
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 5px;
    position: fixed;
    top: calc($height_header / 2 - 1.5em);
    left: calc($body-padding + 13rem);
  }

  .header-side {
    height: 100%;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;

    .login {
      background-color: #ff0000;
      color: #ffffff;
      font-weight: bold;
      padding: 0.5em 1em;
      border-radius: 5px;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #cc0000;
      }

      &:active {
        background-color: #990000;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      }
    }

    .setting {
      height: 100%;
      aspect-ratio: 1/1;
      display: grid;
      place-items: center;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
      }
    }
  }
}

.loginButton {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
}

.input-section {
  width: 100%;
  max-width: 50em;
  padding: 0 $padding;
  padding-bottom: calc(env(safe-area-inset-bottom) + $body-padding);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: .5em;

  // @media (display-mode: standalone) and (pointer: coarse) {
  //   @supports (padding: env(safe-area-inset-bottom)) {
  //     flex-direction: column-reverse;
  //     padding-bottom: env(safe-area-inset-bottom);
  //   }
  // }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150%;
    transition: height .3s;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    background: linear-gradient(to top, $bg_body, transparent);
    pointer-events: none;
    z-index: -1;
  }

  .input-container {
    display: flex;
    align-items: flex-end;
    gap: 1em;

    .open-modal-button {
      height: $modal-button_height;
      padding: 0 1em;
      color: mix(#fff, #000, 70%);
      background: mix(#fff, #000, 10%);
      display: flex;
      align-items: center;
      gap: .5em;
      border-radius: $border-radius;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      box-shadow: $shadow;

      &::after {
        content: '△';
      }
    }

    &.model-select-area {
      display: flex;
      overflow-x: auto;
      gap: .5em;
      width: 100vw;
      margin: 0 calc(50% - 50vw);
      padding: 0 calc(50vw - 50%);

      .model-radio {
        min-width: fit-content;

        label {
          min-width: fit-content;
          display: flex;
          align-items: center;
          padding: .6em;
          background: mix(#fff, #000, 10%);
          border-radius: $border-radius;
          box-shadow: $shadow;
          cursor: pointer;

          &::before {
            content: "";
            display: block;
            min-height: 1.5em;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: mix(#fff, #000, 20%);
            margin-right: 0.5em;
          }
        }

        input:checked+label {
          &::before {
            content: "✔︎";
            margin-right: 0.5em;
            display: grid;
            place-items: center;
          }
        }

        input {
          display: none;
        }
      }
    }

    &.chat-input-area {
      $maxHeight: calc(100svh - $height_header - $modal-button_height - $body-padding * 3 - env(safe-area-inset-top));
      max-height: $maxHeight;
      max-width: 100%;
      padding: 0 1.5em;
      padding-right: 0;
      background: mix(#fff, #000, 10%);
      border-radius: $border-radius;
      box-shadow: $shadow;

      .chat-input {
        margin: auto;
        padding: 1em 0;
        // height: 1em;
        max-height: calc($maxHeight - 2em);
        resize: none;

        &::placeholder {
          color: mix(#fff, #000, 30%);
        }
      }

      .send-button {
        height: 10vmin;
        max-height: 40px;
        aspect-ratio: 1/1;
        margin: .5em;
        background: mix(#fff, #15d186, 10%);
        border-radius: calc($border-radius - .25em);
      }
    }
  }

  .suggestions-list {
    position: absolute;
    bottom: 10em;
    left: 1.5em;
    background: mix(#fff, #000, 10%);
    border-radius: $border-radius;
    box-shadow: $shadow;
    max-height: 10em;
    overflow-y: auto;
    z-index: 2;
    list-style: none;
    padding: 0.5em;
    margin: 0;
    width: calc(100% - 3em);

    li {
      padding: 0.5em;
      cursor: pointer;

      &.active {
        background-color: mix(#fff, #000, 20%);
      }

      input {
        display: none;
      }

      label {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.responses-container {
  width: 100vw;
  min-height: 100svh;
  height: 100svh;
  max-height: 100svh;
  padding-top: calc($height_header * 1.5 + env(safe-area-inset-top));
  overflow-y: auto;
  overscroll-behavior-block: none;
  scroll-behavior: smooth;

  .message-block {
    width: 100%;

    &:last-of-type {
      display: flex;
      flex-direction: column;
      min-height: calc(100svh - $height_header*1.5);

      .scroll_area {
        flex: 1;
        padding-bottom: calc(8em + env(safe-area-inset-bottom)*1.5);
        min-height: fit-content;
        overflow-y: hidden;
        overscroll-behavior-block: contain;
      }
    }

    .user {
      padding: 0 $body-padding;

      p {
        white-space: pre-wrap;
      }
    }

    .scroll_area {
      display: flex;
      align-items: flex-start;
      overflow-x: auto;
      overscroll-behavior-inline: contain;
      gap: 1em;
      padding: 1em 0 1em $body-padding;
      scroll-snap-type: x mandatory;
      scroll-padding-left: $body-padding;

      .response {
        width: calc(100vw - $body-padding);
        min-width: 22em;
        background: rgba(250, 250, 250, .1);
        padding: 1em;
        border-radius: calc($border-radius / 5);
        display: flex;
        flex-direction: column;
        gap: .5em;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        margin-right: $body-padding;

        p {
          white-space: normal;
          word-wrap: break-word;
        }

        .meta {
          font-size: .8em;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  align-items: center;
  transition: opacity .3s;
  pointer-events: none;

  .save {
    font-family: "Glegoo", serif;
    color: mix(#fff, #000, 70%);
  }

  .modal-content {
    pointer-events: auto;
    background: mix(#fff, #000, 10%);
    padding: 2em;
    max-width: 35em;
    width: 100%;
    border-radius: $border-radius;
    cursor: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;

    h2 {
      font-size: 1.5em;
      font-family: "Glegoo", serif;
      font-weight: 700;
    }

    textarea {
      color: mix(#fff, #000, 80%);
      font-size: 16px;
      padding: 1em;
      width: 100%;
      height: 10lh;
      font-family: "JetBrains Mono", monospace;
      font-optical-sizing: auto;
    }
  }
}

// Markdown Styles
.markdown-content {
  $line-height-base: 1.6;
  $color-base: #fff;
  $color-secondary: #666;
  $color-link: #0070f3;
  $color-bg: #686868;
  $color-bg-light: #8f8f8f;
  $color-border: #696969;
  $color-code-bg: #060606;
  $border-radius: 5px;

  line-height: $line-height-base;
  color: $color-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.2;

    &:nth-child(1) {
      font-size: 2rem;
    }

    &:nth-child(2) {
      font-size: 1.75rem;
    }

    &:nth-child(3) {
      font-size: 1.5rem;
    }

    &:nth-child(4) {
      font-size: 1.25rem;
    }

    &:nth-child(5) {
      font-size: 1rem;
    }

    &:nth-child(6) {
      font-size: 0.875rem;
    }
  }

  p {
    margin: 0.25rem 0;
  }

  ul,
  ol {
    margin: 0.5rem 0;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.25rem;
    }
  }

  blockquote {
    margin: 0.5rem 0;
    padding: 0.25rem 0.5rem;
    border-left: 4px solid $color-border;
    background-color: $color-bg-light;
    color: $color-secondary;

    p {
      margin: 0;
    }
  }

  code {
    background-color: $color-code-bg;
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  pre {
    background-color: $color-code-bg;
    padding: 0.5rem;
    border-radius: $border-radius;
    overflow-x: auto;
    overscroll-behavior-block: contain;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    white-space: pre;
    word-wrap: break-word;

    code {
      text-wrap: nowrap;
    }
  }

  a {
    color: $color-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;

    th,
    td {
      padding: 0.5rem;
      border: 1px solid $color-border;
    }

    th {
      background-color: $color-bg;
      font-weight: bold;
    }

    td {
      background-color: $color-bg-light;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid $color-border;
    margin: 1rem 0;
  }
}


body {
  .responses-container {
    will-change: transform;
    transition: transform .3s;
  }

  &[data-software-keyboard="true"] {
    .responses-container {
      transform: translateY(calc(var(--keyboardHeight) - $height_header * 1.5));
    }

    .chat-input-area {
      max-height: calc(var(--actual-100dvh) - $modal-button_height - $body-padding*2 - env(safe-area-inset-top)) !important;

      .chat-input {
        max-height: calc(var(--actual-100dvh) - $modal-button_height - $body-padding*2 - env(safe-area-inset-top) - 2em) !important;
      }
    }

    .input-section {
      padding-bottom: $body-padding;
    }
  }
}

.response.reply {
  background-color: rgba(100, 100, 250, 0.1); // リプライメッセージの背景色
}

.response.mention {
  background-color: rgba(250, 250, 100, 0.1); // メンションメッセージの背景色
}

textarea[fieldSizing="content"] {
  field-sizing: content;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overscroll-behavior-block: none;
}



.login-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background: red;
  border-radius: .5em;
}